.navColor {
    background-color: #0d9777;
}


.sidebarColor{
    background-color: #d7f1eb;
    height: 80vh !important;
}
#sidebare{
    transition: left 3;
    
}
#sidebare .sidebar a{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: #000;
}
#sidebare .sidebar a:hover{
    background-color: #155d4c;
    color: white;
    
}
.col-md-2{
    padding:0px 0px 0px 5px !important;
}

footer {
    margin-top: 2px;
    background-color: #0d9777;
    color: white;
    /* height: 50px; */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    

}

.sidebarTombol {
    color: #0d9777;
    font-weight: 700;
    background-color: white;
    margin-top: 7px;

}

@media screen and (max-width:700px) {
    #sidebare {
        display: none;
    }

    .sidebarTombol {
        display: none;
    }
}

#content {
    display: contents;
}

/* #sidebare {
    background-color: #a5dacd;
    transition: ease-in;
    transition-duration: 10s;

} */



.sidebarColor a:hover {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #0d9777;
}
#content{
    display: inline-block;
}

.activeContent{
    display: block;
}
.notShowContent{
    display: none;
}
.btnSearch{
    background-color: #20ddb1 !important;
    color: rgb(0, 0, 0) !important;

}
.btnSearch:hover{
    background-color: #0d352b !important;
    color: white !important;
}
.navJarak{
    margin-top: 56px;
}
.modal-header{
    background-color: #0d9777;
    color: white;
}
.close{
    color: white !important;
}